<configuration>
    <system.webServer>
        <handlers>
            <add name="python" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python364x64\python.exe|D:\home\site\wwwroot\main.py" resourceType="Unspecified" />
        </handlers>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
